/* Style the buttons and create functions for rainbow and shader, possibly add a random color option */

body {
    background-image: url(toy-story-background-g2220d3e99_1920.jpg);
}

#headerBox {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -130px;
    justify-content: center;
    align-items: center;
    font-family: 'Grape Nuts', roboto, fantasy, serif;
    font-size: 28px;
    color: rgb(232, 195, 26);
    background-color: transparent;
    margin: -30px;
    width: inherit;
    height: auto;
}

.header {
    margin-bottom: 0;
}

p.text {
    margin-top: 0;
    color: black;
}

#screenContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid red 8em;
    border-radius: 5%;
    margin: auto;
    width: 30em;
    box-shadow: 10px 10px rgb(164, 26, 26);
    position: relative;
    background: white;
}

#screen {
    display: grid;
    font-size: 0;
    margin: 0px;
    height: 30rem;
    width: 30rem;
    padding: 0;
    border-style: inset;
    border-radius: 2%;
    border-width: 8px;
    
}

.gridBox {
    margin: 0;
    padding: 0;
    border: none;
    outline: 1px solid rgb(227, 225, 225);
    display: inline-block;
}

.sliderPanel {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
   
}

.slideContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -130px;
}

#slide {
    -webkit-appearance: none;
    background-color: white;
    height: 2px;
}

#slide::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(232, 195, 26);
    cursor: pointer;
}

p.sliderText {
    font-family: 'Grape Nuts', roboto, fantasy, serif;
    font-size: 20px;
    margin: 10px;
    color: rgb(232, 195, 26);
}

/* Button stylings */

#colorPick  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -25%;
    left: -25%;
    background-color: white;
    border-radius: 50%;
    width: 8em;
    height: 8em;
    margin-top: 10px;
   
}   

#pickColor {
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
    width: 25px;
    height: 25px;

}

#pickColor::-webkit-color-swatch {
    border-radius: 50%;
}

span#pickColorText {
    font-family: 'Grape Nuts', roboto, fantasy, serif;
    font-size: 17px;
}

#clear {
    position: absolute;
    bottom: -25%;
    right: -25%;
    background-color: white;
    border-radius: 50%;
    width: 8em;
    height: 8em;
    
}

span#clearScreenButton {
    font-family: 'Grape Nuts', roboto, fantasy, serif;
    font-size: 17px;
}

#black {
    position: absolute;
    bottom: -60px;
    left: 25px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: normal;
    font-size: 18px;
    font-family: 'Grape Nuts', roboto, fantasy, serif;
    }


#rainbow {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -30px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    bottom: -60px;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Grape Nuts', roboto, fantasy, serif;
}

#gray {
    position: absolute;
    bottom: -60px;
    right: 25px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: normal;
    font-size: 18px;
    font-family: 'Grape Nuts', roboto, fantasy, serif;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: rgb(232, 195, 26);
}