
#headerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Grape Nuts', cursive, Georgia, serif;
    font-size: 24px;
    color: rgb(232, 195, 26);
    background-color: rgb(255, 16, 16);
    width: 40em;
    height: 4em;
    margin: auto;
}

#container {
    position: relative;
    outline: 2px solid #ff1010;
    font-size: 0;
    margin: auto;
    height: 640px;
    width: 800px;
    padding: 0;
    border-style: inset;
    border-radius: 2%;
    border-width: thick;
    
}

.gridBox {
    margin: 0;
    padding: 0;
    border: none;
    outline: 1px solid #000;
    display: inline-block;
}