/* Style the buttons and create functions for rainbow and shader, possibly add a random color option */

body {
    background-image: url(toy-story-background-g2220d3e99_1920.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#headerBox {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -110px;
    justify-content: center;
    align-items: center;
    font-family: 'Grape Nuts', roboto, fantasy, serif;
    font-size: 26px;
    color: gold;
    background-color: transparent;
    margin: -30px;
    width: inherit;
    height: auto;
}

.header {
    margin-bottom: 0;
}

footer {
    
    text-align: center;
    margin: 14vh 0 auto;
    position: relative;
    bottom: 5%;
}

p.text {
    margin-top: 0;
    color: black;
    font-size: 24px;
}

#screenContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid red 8em;
    border-top: 6em solid red;
    border-bottom: 4em solid red;
    border-radius: 5%;
    margin: auto;
    width: 30em;
    box-shadow: 12px -5px 3px rgb(164 26 26);
    position: relative;
    background: red;
}

#screen {
    display: grid;
    font-size: 0;
    margin: 0px;
    height: 22rem;
    width: 32rem;
    padding: 0;
    border-style: inset;
    border-radius: 2%;
    border-width: 8px;
    
}

.gridBox {
    margin: 0;
    padding: 0;
    border: none;
    outline: 1px solid rgb(227, 225, 225);
    display: inline-block;
    background-color: white;
}

.sliderPanel {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
   
}

.slideContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -70px;
}

#slide {
    -webkit-appearance: none;
    background-color: white;
    height: 2px;
}

#slide::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffd700;
    cursor: pointer;
}

p.sliderText {
    font-family: 'Grape Nuts', roboto, fantasy, serif;
    font-size: 20px;
    margin: 10px;
    color: gold;
    
}


/* Button stylings */

#colorPickButton  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -18%;
    left: -25%;
    background-color: white;
    box-shadow: 6px -3px silver;
    border-radius: 50%;
    width: 8em;
    height: 8em;
    margin-top: 10px;
   
}   

#pickColorIcon {
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
    width: 45px;
    height: 45px;

}

#pickColorIcon::-webkit-color-swatch {
    border-radius: 50%;
}

span.pickColorText {
    font-family: 'Grape Nuts', roboto, fantasy, serif;
    font-size: 17px;
}

#clear {
    position: absolute;
    bottom: -18%;
    right: -25%;
    background-color: white;
    box-shadow: 6px -3px silver;
    border-radius: 50%;
    width: 8em;
    height: 8em;
    
}

span#clearScreenButton {
    font-family: 'Grape Nuts', roboto, fantasy, serif;
    font-size: 17px;
}

.colorButtonsDiv {
    display: flex;
    width: 500px;
    justify-content: space-evenly;

}

.colorButton {
    width: 58px;
    height: 58px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 3px -1px silver;;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Grape Nuts', roboto, fantasy, serif;
}

#black {
    background-color: gold;
}

#penOn {
    position: absolute;
    left: -15%;
    top: 40%;
    border-radius: 50px;
    height: 35px;
    width: 35px;
    font-size: 12px;
    text-align: center;
    font-family: 'Grape Nuts', roboto, fantasy, serif;
    font-weight: bold;
    background-color: white;
    box-shadow: 2px -1px silver
   

}

#penOff {
    position: absolute;
    left: -15%;
    bottom: 40%;
    border-radius: 50px;
    height: 35px;
    width: 35px;
    font-size: 12px;
    text-align: center;
    font-family: 'Grape Nuts', roboto, fantasy, serif;
    font-weight: bold;
    background-color: white;
    box-shadow: 2px -1px silver

}

a {
    text-decoration: none;
    color: gold;
}
.nameTag {
    color: red;
}